*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: 'Gilroy';
    box-sizing: border-box;
  }

  :root {
    --bg-color: white;
    --text-color: black;
    --main-color: #5B995A;
  }
  
  body { 
    display: flex; 
    justify-content: center;
    align-items: center; 
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} 
 
/* loader css start */

.loader{
  width:200px;
  height:200px;
  position:relative;
  display:flex;
  margin: 15% 40%;
  background: white;
}

.loader div{
  width:100px;
  height:100px;
  position:absolute;
  border-radius:80%;
  animation:a 1.5s linear infinite;
  filter:drop-shadow(0px 0px 10px --main-color);
}
.loader div:nth-child(1){
  top:10px;
  left:20px;
  border-left:5px solid var(--main-color);
}
.loader div:nth-child(2){
  top:10px;
  right:20px;
  border-top:5px solid var(--main-color);
} 
.loader div:nth-child(3){
  bottom:45px;
  left:50px;
  border-right:5px solid var(--main-color);
}

@keyframes a{
 0%{
     transform:rotate(0deg);
 }
 100%{
     transform:rotate(360deg);         
 }
}

@media(max-width:800px){
  .loader{
    display: none;
  }
}

  /* loader end */

#page{
    display: none;
}


/* nav css start*/

.header{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  /* background: #5b995ade; */
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: .3s;
}

.nav{
  position: relative;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__item,
.nav__close,
.nav__toggle,
.nav__actions{
  display: flex;
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
}

.nav__menu{
  margin-right: 0;
  margin-left: 580px;
  margin-top: 0;
}

.nav__list a{
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  margin-right: 0;
  color: white;
}

.nav__menu .nav__list{
  display: flex;
  flex-direction: row;
}

.nav__list .active-link, .nav__item a:hover{
  color: #5b995ade;
}

.nav__close, .nav__toggle{
  display: none;
}

.nav__logo{
  font-weight: var(--font-semi-bold);
  column-gap: .25rem;
  align-items: center;
  padding: 5px;
}

 .nav__actions{
    font-size: 1.25rem;
    column-gap: .5rem;
    align-items: center;
 }


/* Navigation for mobile devices */
@media screen and (max-width:1150px){
  .nav__close, .nav__toggle{
    display: block;
  }

.nav__menu{
position: fixed;
top: 0;
right: -120%;
background-color: hsla(126, 80%, 16%, 0.6);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
width: 100%;
/* height: 500%; */
/* padding: 6rem 3rem 0; */
transition: right .4s;
}

.nav__menu{
  margin: 0;
  padding: 0;
}


.nav__menu .nav__list{
display: flex;
flex-direction: column;
}

.nav__item a{
  padding: 5px;
}

.nav__link{
color: white;
font-weight: var(--font-semi-bold);
transition: color .4s;
}

.nav__link:hover{
color: var(--first-color);
}

.nav__close{
position: absolute;
top: 1.15rem;
right: 1.5rem;
font-size: 1.25rem;
}

/* Show menu */
.show-menu{
right: 0;
}

/* Add blur header */
.scroll-header::after{
content: '';
position: absolute;
width: 1000%;
height: 100%;
background-color: hsla(228, 24%, 6%, .6);
backdrop-filter: blur(16px) ;
-webkit-backdrop-filter: blur(16px); 
top: 0;
left: 0;
z-index: -1;
}

/* Active link */
.active-link{
color: var(--first-color);
}

}


/* nav css end */

.about .intro{
    margin: 0;
    padding: 0;
    position: relative;
}

.crsr{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: var(--bg-color);
    mix-blend-mode: difference;
    transition: all linear 0.1s;
}

.cover{
    position: a;
    text-align: center;
    color: white;
}

.head {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 25vh;
    transition: all ease 0.5s;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

  .head:hover{
    font-size: 28vh;
  }

  .head:hover .crsr{
    background-color: black;
  }

  .about h1{
    font-size: 7vh;
    margin: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .about .brdr{
    border-top: 2px solid black;
    width: 50px;
    margin: 0;
    padding: 0;
    margin-left: 25%;
  }

.intro .para{
    margin: 30px;
}

.team{
    display: flex;
}

@media(max-width:550px){
  .head{
    font-size: 60px;
    top: 20%;
  }
}
@media(max-width:420px){
  .head{
    font-size: 60px;
    top: 10%;
  }
}

/* meet team css */

.wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media(max-width: 800px){
  .cols{
    flex-direction: column;
  }
}

.col{
  width: calc(25% - 2rem);
  margin: 2.2rem;
  cursor: pointer;
  border-radius: 10px;
  padding: 2px;
}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.front,
.back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  border-radius: 10px;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 1.5rem;
}

.back{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  #96D65E 0%,#5B995A 100%);
  background: -o-linear-gradient(45deg,  #96D65E 0%,#5B995A 100%);
  background: linear-gradient(45deg,  #96D65E 0%,#5B995A 100%);
}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem){
  .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

/* meet team css end */


.first, .second, .third {
    display: block;
    border-radius: 20px;
    margin: 5px;
}
.first:hover, .second:hover, .third:hover{
    background: linear-gradient(120deg ,#5B995A,#96D65E);
}

.about-img{
    position: relative;
    height: 20rem;
    width: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  .about-content {
    text-align: center;
  }
  
  .about-content h3{
    position: relative;
    display: inline-block;
    font-size: 30px;
  }
  
  .about-content p {
    position:  relative;
    font-size: 20px;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
  }
  

  /* Faq's css start */
  .faq {
    padding: 2rem;
  }
  .faq h1 {
    margin-bottom: 1rem;
  }

  /* contact */
  .toast {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
}
.toast .toast-header{
  background: linear-gradient(180deg ,#5B995A,#96D65E);
}

  /* footer */
  footer {
    background: linear-gradient(280deg, #5b995ad9, #96d65ec2);
    /* margin-top: 200px; */
    align-self: flex-end;
    position: sticky;
  }
  
  @media(max-width: 450px) {
    footer {
      margin-top: 60%;
    }
  }

  .col .active a{
    color: black;
  }

  .col p{
    margin: 0;
    padding: 0;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
  }
  .footer a:hover {
    text-decoration: underline;
    color: black;
  }
